:root {
    --cor-texto: #201E1E;
    --cor-azul-profundo: #171D2B;
    --cor-azul-escuro: #07233B;    /* Azul profundo e intenso */
    --cor-azul-vibrante: #1160A3; /* Azul mais claro e energético */
    --cor-laranja-terra: #CF6C36; /* Laranja quente e terroso */
}