<footer>
    <div class="footer-container">
        <div class="footer-info">
            <h3>Onde nos achar</h3>
            <p>
                <span>📍</span> Rua Euclides Farias, 02, Ed. Cidade do Porto. Cohama. São Luís MA.
            </p>
            <p>
                <span>📞</span> (98) 9999-9999
            </p>
            <p>
                <span>📷</span> @nomedeusuario
            </p>
        </div>
        <div class="footer-map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3942.220796870279!2d-44.2777542242079!3d-2.537099497637411!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7f68f9ae1412141%3A0x254fc5d7509d35bc!2sCohama%2C%20S%C3%A3o%20Lu%C3%ADs%20-%20MA%2C%2065015-600!5e0!3m2!1sen!2sbr!4v1700651594245!5m2!1sen!2sbr"
                width="344"
                height="233.99"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>
</footer>
