{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcus Salgado</title>
    <link rel="icon" href="{% static 'images/pages/index/footer.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/pages/index/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    
    {% include 'base/menu.html' %}
    
    
    <main>
        {% block content %}
        
        {% endblock %}
    </main>

    
    {% include 'base/_footer.html' %}

    <script src="{% static 'js/pages/index/index.js' %}"></script>
</body>
</html>