{% load static %}
<header>
    <nav class="menu">
        <!-- Ícone do menu para mobile -->
        <div class="menu-toggle" id="menu-toggle">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <ul id="menu-items">
            <li><a href="#home"><img src="{% static 'images/pages/index/logo-azul-cinza.png' %}" alt="Logo"></a></li>
            <li><a href="#home" class="marcus">Quem é Marcus</a></li>
            <li><a href="#servicos" class="escritorio">Escritório</a></li>
            <li><a href="#equipe" class="servicos">Serviços</a></li>
            <li><a href="#contato" class="advogados">Advogados</a></li>
            <li><a href="#contato" class="fale-conosco">Fale conosco</a></li>
            <li><a href="#contato" class="onde-nos-achar">Onde nos achar</a></li>
        </ul>
    </nav>
</header>