.custom-section {
  width: 1440px;
  height: 858px;
  position: absolute;
  top: 3095px;
  left: 4388px;
  background-color: #FFFFFF;
}

.custom-heading {
  width: 349px;
  height: 47px;
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  font-size: 34.19px;
  line-height: 47.18px;
  color: #201E1E;
  font-weight: bold; /* Negrito */
}
